@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/* HEADER */
.contenedor-header{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .nombre a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #dd9433;
    text-decoration: none;
    transition: 0.5s;
}
.contenedor-header header .nombre a:hover{
    color: #fff;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    text-decoration: none;
    transition: 0.5s
}
.contenedor-header header nav ul li a:hover{
    color: #dd9433;
}
.nav-responsive{
    background-color: #dd9433;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* INICIO */
.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(fondo.jpg);
    background-size: cover;
    height: 90vh;
    color: #fff;
    display: flex;
    align-items: center;
}
.inicio .contenedor-banner{
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    height: 400px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
.inicio .contenedor-banner img{
    border: 10px solid #dd9433;
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    border-radius: 100%;
}
.inicio .contenedor-banner h1{
    margin-top: 32px;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: 'Righteous';
}
.inicio .contenedor-banner h2{
    font-size: 15px;
    font-weight: normal;
}

/* SOBRE MÃ */
.sobre-mi{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.sobre-mi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobre-mi h2{
    color: #dd9433;
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.sobre-mi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.sobre-mi .contenido-seccion p span{
    color: #dd9433;
    font-weight: bold;
}
.sobre-mi .fila{
    display: flex;
}
.sobre-mi .fila .col
{
    width: 50%;
}
.sobre-mi .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.sobre-mi .fila .col ul{
    list-style: none;
    width: min-content;
}
.sobre-mi .fila .col ul li{
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #dd9433;
}
.sobre-mi .fila .col ul li strong{
    margin: 3px 0;
    display: inline-block;
    color: #dd9433;
    width: 190px;
}
.sobre-mi .fila .col ul li span{
    background-color: #dd9433;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

/*HABILIDADES*/
.habilidades{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}
.habilidades .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.habilidades h2{
    color: #dd9433;
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.habilidades .fila{
    display: flex;
}
.habilidades .fila .col{
    width: 50%;
    padding: 0 20px;
}
.habilidades .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.habilidades .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.habilidades .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}
.habilidades .skill .progreso{
    background-color: #dd9433;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.habilidades .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #dd9433;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}
/* Estas clases se agregaran dinamicamente mediante javascript */
.habilidades .skill .javascript{
    width: 0%;
    animation: 1.5s javascript forwards;
}
@keyframes javascript {
    0%{width: 0%;}
    100%{width: 75%;}
}

.habilidades .skill .htmlcss{
    width: 0%;
    animation: 1.5s htmlcss forwards;
}
@keyframes htmlcss {
    0%{width: 0%;}
    100%{width: 89%;}
}

.habilidades .skill .photoshop{
    width: 0%;
    animation: 1.5s photoshop forwards;
}
@keyframes photoshop {
    0%{width: 0%;}
    100%{width: 95%;}
}

.habilidades .skill .comunicacion{
    width: 0%;
    animation: 1.5s comunicacion forwards;
}
@keyframes comunicacion {
    0%{width: 0%;}
    100%{width: 80%;}
}

.habilidades .skill .dedicacion{
    width: 0%;
    animation: 1.5s dedicacion forwards;
}
@keyframes dedicacion {
    0%{width: 0%;}
    100%{width: 65%;}
}

.habilidades .skill .proyect{
    width: 0%;
    animation: 1.5s proyect forwards;
}
@keyframes proyect {
    0%{width: 0%;}
    100%{width: 94%;}
}

/* experiencia */
.experiencia{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.experiencia .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.experiencia h2{
    color: #dd9433;
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.experiencia .fila{
    display: flex;
    justify-content: space-between;
}
.experiencia .fila .col{
    width: 49%;
    padding: 0 20px;
}
.experiencia .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.experiencia .fila .izquierda{
    border-right: 2px solid #252A2E;
}
.experiencia .fila .derecha{
    border-left: 2px solid #252A2E;
}
.experiencia .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: relative;
}
.experiencia .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.experiencia .fila .item .casa{
    color: #dd9433;
    font-size: 22px;
    font-weight: bold;
    display: block;
}
.experiencia .fila .item .fecha{
    display: block;
    color: #dd9433;
    margin-bottom: 10px;
}
.experiencia .fila .item p{
    line-height: 24px;
}
.experiencia .fila .izq{
    border-right: 2px solid #dd9433;
    margin-right: 20px;
}
.experiencia .fila .der{
    border-left: 2px solid #dd9433;
    margin-left: 20px;
}

/*FOOTER*/
footer{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
footer .redes a:hover{
    background-color: #dd9433;
}
footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #dd9433;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}

/* SECCION RESPONSIVE */
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        text-align: center;
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}
@media screen and (max-width:700px){
    .sobre-mi .fila{
        display: block;
    }
    .sobre-mi .fila .col{
        width: fit-content;
    }

    .habilidades .fila{
        display: block;
    }
    .habilidades .fila .col{
        width: 100%;
    }
    .habilidades .fila .col .barra-skill{
        width: 100%;
    }

    .experiencia .fila{
        display: block;
    }
    .experiencia .fila .col{
        width: 90%;
    }
    .experiencia .fila .derecha{
        margin-left: 20px;
    }
}
